<form action="/square_root/results">
  <div>
    <label for="input_number">
      Enter a number
    </label>
  </div>
  <div>
    <input id="input_number" type="float" name="square_root_input" placeholder="What number do you want?">
  </div>
  <button>Calculate square root</button>
</form>
